* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8797B2;
    text-align: center;
}

h1{
    margin-top: 20px;
    font-size: 5rem;
    font-family: "Bitcount Grid Double", system-ui;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1em rbga(0,0,0,0.4);
    font-size: 8vmin;
    color: #4c1d2d;
    background-color: #f2f9b1;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-bottom: 40px;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #f2f9b1;
    font-size: 5vmin;
    margin-bottom: 20px;

}

.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide{
    display: none;
}